* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4B4B4D;
}

.grid-container {
  display: grid;
  grid: 1vw 12vw / 2% 33% 65%;
}

.header-gap{
  background-color: #f28938;
  grid-column-end: span 3;
}

.header{
  background-color: #f28938;
}

.header-title{
  background-color: #f28938;
  display: flex;
  align-items:center;
  justify-content: center;
}

.bar-title{
  height: 9.5vw;
  width: 0.5%;
  background-color: #4B4B4D;
  margin-right: 1vw;
  margin-bottom: 0.4vw;
}

h1{
  font-size: 6vw;
  font-weight: normal;
  line-height: 60%;
  text-align: right;
  text-shadow: 0.1vw 0.1vw 0.1rem;
}

.italic-title{
  font-size: 6vw;
  font-style: italic;
  font-weight: bold;
}

.sub-title{
  font-size: 2.2vw;
  font-weight: bold;
}

.column{
  background-color: #f5ab73;
  grid-row-end: span 2;
  padding: 0 5% 0 5%;
}

#photo{
  width: 95%;
  margin: 5% 0 0 2.5%;
}

.column > h2{
  font-size: 2vw;
  margin-top: 2vw;
  text-shadow: 0.1vw 0.1vw 0.1rem;
}

p{
  font-size: 1.3vw;
  margin-top: 0.5vw;
}

.underline{
  text-decoration: underline;
}

ul{
  padding-left: 2vw;
  margin-top: 0.5rem;
  font-size: 1.3vw;
}

.right-side-gap{
  height: 1rem;
}

.tab{
  width: 100%;
  background-color: #f5ab73;
}

.tab > h2{
  font-size: 1rem;
  padding: 0.5vw 0 0.5vw 3vw;
  text-shadow: 0.05vw 0.1vw 0.1rem;
}

dl{
  padding: 1rem 1rem 1.5rem 5vw;
  font-size: 0.95rem;
}

dt{
  padding-top: 0.5rem;
  font-weight: bold;
}

.contact{
  height: 27vw;
}

.icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 89%;
}

svg{
  width: 10vw;
  height: 10vw;
}

a,a :hover{
  animation: wiggle 2s linear;
  overflow: visible;
}

h1, h2{
 animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

@media screen and (max-width: 1300px){
  p, ul{
    font-size: 1.7vw;
  }

  .icons{
    height: 80%;
  }
}

@media screen and (max-width: 1000px){
  .column > h2{
    font-size: 2.2vw;
    margin-top: 2vw;
  }

  p{
    font-size: 1.9vw;
  }

  ul{
    font-size: 1.9vw;
    padding-left: 2.5vw;
  }
}

@media screen and (max-width: 800px){
  .column > h2{
    font-size: 2.3vw;
    margin-top: 4vw;
  }

  p{
    font-size: 2.5vw;
  }

  ul{
    padding-left: 3vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 500px){
  .grid-container {
    display: grid;
    grid: 2vw 12vw / 2% 35% 63%;
  }

  .column > h2{
    font-size: 2.6vw;
    margin-top: 4vw;
    text-shadow: 0.1vw 0.1vw 0.05rem;
  }

  p{
    font-size: 3vw;
    margin-top: 1vw;
  }

  ul{
    font-size: 3vw;
    padding-left: 3vw;
  }

  dl{
    padding: 0.5rem 0.2rem 1rem 5vw;
    font-size: 0.7rem;
  }

  .contact{
    height: 32.2vw;
  }
}